
config/zsh/.zsh_sessions
config/git/config.local
config/nvim/.netrwhist
config/matplotlib/fontlist*.json
config/matplotlib/tex.cache/
config/astropy/*.cfg
config/op
config/openconnect
config/expressvpn
local/bin/airport
local/bin/jsc

